#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-group {
  display: block;
}

.backgroundImage {
  background-image: url(https://library.sportingnews.com/2021-08/kobe-bryant-michael-jordan-lebron-james-split-052818jpg_644ds7jn0y3f1i93xtnxfbmrr.png);
  height: 50vh;
  background-size: cover;
  width: 150vh;
  margin-bottom: 100px;
  z-index: -1;
}
